In [1]:
#Importar las librerias que vamos a utilizar
import glob
import pandas as pd
import numpy as np
import os
import xgboost as xgb
from sklearn.model_selection import GroupShuffleSplit

In [2]:
#Aadir todos los csv
archivos_csv = glob.glob('../Caballos/ID-Carreras/*.csv') #('../PRACTICAS/Programa de carreras/CSV/*.csv')
print(archivos_csv)

['../Caballos/ID-Carreras\\1_01-01-2017.csv', '../Caballos/ID-Carreras\\1_01-06-2014.csv', '../Caballos/ID-Carreras\\1_01-07-2021.csv', '../Caballos/ID-Carreras\\1_01-08-2013.csv', '../Caballos/ID-Carreras\\1_01-11-2015.csv', '../Caballos/ID-Carreras\\1_01-12-2013.csv', '../Caballos/ID-Carreras\\1_02-07-2011.csv', '../Caballos/ID-Carreras\\1_02-10-2011.csv', '../Caballos/ID-Carreras\\1_02-11-2014.csv', '../Caballos/ID-Carreras\\1_02-12-2012.csv', '../Caballos/ID-Carreras\\1_03-04-2016.csv', '../Caballos/ID-Carreras\\1_03-06-2012.csv', '../Caballos/ID-Carreras\\1_03-07-2016.csv', '../Caballos/ID-Carreras\\1_03-07-2020.csv', '../Caballos/ID-Carreras\\1_03-08-2012.csv', '../Caballos/ID-Carreras\\1_03-10-2014.csv', '../Caballos/ID-Carreras\\1_04-05-2012.csv', '../Caballos/ID-Carreras\\1_04-05-2014.csv', '../Caballos/ID-Carreras\\1_04-08-2016.csv', '../Caballos/ID-Carreras\\1_04-09-2011.csv', '../Caballos/ID-Carreras\\1_04-10-2015.csv', '../Caballos/ID-Carreras\\1_04-12-2011.csv', '../Caballos/ID-Carreras\\1_05-01-2014.csv', '../Caballos/ID-Carreras\\1_05-03-2017.csv', '../Caballos/ID-Carreras\\1_05-05-2016.csv', '../Caballos/ID-Carreras\\1_05-06-2021.csv', '../Caballos/ID-Carreras\\1_05-07-2012.csv', '../Caballos/ID-Carreras\\1_05-07-2020.csv', '../Caballos/ID-Carreras\\1_05-08-2011.csv', '../Caballos/ID-Carreras\\1_05-09-2013.csv', '../Caballos/ID-Carreras\\1_05-11-2015.csv', '../Caballos/ID-Carreras\\1_06-03-2016.csv', '../Caballos/ID-Carreras\\1_06-04-2014.csv', '../Caballos/ID-Carreras\\1_06-05-2011.csv', '../Caballos/ID-Carreras\\1_06-08-12.csv', '../Caballos/ID-Carreras\\1_06-10-2013.csv', '../Caballos/ID-Carreras\\1_06-12-2015.csv', '../Caballos/ID-Carreras\\1_07-06-2020.csv', '../Caballos/ID-Carreras\\1_07-07-2011.csv', '../Caballos/ID-Carreras\\1_07-08-2011.csv', '../Caballos/ID-Carreras\\1_07-08-2014.csv', '../Caballos/ID-Carreras\\1_08-01-2012.csv', '../Caballos/ID-Carreras\\1_08-05-2016.csv', '../Caballos/ID-Carreras\\1_08-06-2014.csv', '../Caballos/ID-Carreras\\1_09-03-2014.csv', '../Caballos/ID-Carreras\\1_09-07-2011.csv', '../Caballos/ID-Carreras\\1_09-10-2011.csv', '../Caballos/ID-Carreras\\1_09-11-2017.csv', '../Caballos/ID-Carreras\\1_1-04-2018.csv', '../Caballos/ID-Carreras\\1_1-08-2016.csv', '../Caballos/ID-Carreras\\1_1-08-2019.csv', '../Caballos/ID-Carreras\\1_1-09-2013.csv', '../Caballos/ID-Carreras\\1_1-09-2014.csv', '../Caballos/ID-Carreras\\1_10-01-2016.csv', '../Caballos/ID-Carreras\\1_10-04-2016.csv', '../Caballos/ID-Carreras\\1_10-06-2012.csv', '../Caballos/ID-Carreras\\1_10-08-2012.csv', '../Caballos/ID-Carreras\\1_10-08-2014.csv', '../Caballos/ID-Carreras\\1_10-09-2016.csv', '../Caballos/ID-Carreras\\1_10-11-2013.csv', '../Caballos/ID-Carreras\\1_11-03-2012.csv', '../Caballos/ID-Carreras\\1_11-04-2021.csv', '../Caballos/ID-Carreras\\1_11-05-2012.csv', '../Caballos/ID-Carreras\\1_11-07-2013.csv', '../Caballos/ID-Carreras\\1_11-07-2016.csv', '../Caballos/ID-Carreras\\1_11-08-2016.csv', '../Caballos/ID-Carreras\\1_11-09-2011.csv', '../Caballos/ID-Carreras\\1_12-01-2014.csv', '../Caballos/ID-Carreras\\1_12-02-2012.csv', '../Caballos/ID-Carreras\\1_12-05-2019.csv', '../Caballos/ID-Carreras\\1_12-06-2011.csv', '../Caballos/ID-Carreras\\1_12-07-2020.csv', '../Caballos/ID-Carreras\\1_12-08-2011.csv', '../Caballos/ID-Carreras\\1_12-08-2012.csv', '../Caballos/ID-Carreras\\1_12-08-2018.csv', '../Caballos/ID-Carreras\\1_13-01-2013.csv', '../Caballos/ID-Carreras\\1_13-03-2016.csv', '../Caballos/ID-Carreras\\1_13-04-2014.csv', '../Caballos/ID-Carreras\\1_13-05-2012.csv', '../Caballos/ID-Carreras\\1_13-07-2014.csv', '../Caballos/ID-Carreras\\1_13-09-2013.csv', '../Caballos/ID-Carreras\\1_13-09-2020.csv', '../Caballos/ID-Carreras\\1_13-11-2011.csv', '../Caballos/ID-Carreras\\1_13-11-2020.csv', '../Caballos/ID-Carreras\\1_14-02-2016.csv', '../Caballos/ID-Carreras\\1_14-05-2017.csv', '../Caballos/ID-Carreras\\1_14-06-2012.csv', '../Caballos/ID-Carreras\\1_14-06-2020.csv', '../Caballos/ID-Carreras\\1_14-07-2011.csv', '../Caballos/ID-Carreras\\1_14-07-2012.csv', '../Caballos/ID-Carreras\\1_14-07-2016.csv', '../Caballos/ID-Carreras\\1_14-10-2012.csv', '../Caballos/ID-Carreras\\1_14-2-2021.csv', '../Caballos/ID-Carreras\\1_15-01-2012.csv', '../Caballos/ID-Carreras\\1_15-04-2011.csv', '../Caballos/ID-Carreras\\1_15-04-2012.csv', '../Caballos/ID-Carreras\\1_15-06-2019.csv', '../Caballos/ID-Carreras\\1_15-08-2011.csv', '../Caballos/ID-Carreras\\1_15-08-2012.csv', '../Caballos/ID-Carreras\\1_15-08-2015.csv', '../Caballos/ID-Carreras\\1_15-08-2016.csv', '../Caballos/ID-Carreras\\1_15-11-2015.csv', '../Caballos/ID-Carreras\\1_15-12-2013.csv', '../Caballos/ID-Carreras\\1_16-02-2014.csv', '../Caballos/ID-Carreras\\1_16-03-2014.csv', '../Caballos/ID-Carreras\\1_16-04-2017.csv', '../Caballos/ID-Carreras\\1_16-05-2021.csv', '../Caballos/ID-Carreras\\1_16-06-2021.csv', '../Caballos/ID-Carreras\\1_16-07-2011.csv', '../Caballos/ID-Carreras\\1_16-07-2017.csv', '../Caballos/ID-Carreras\\1_16-09-2012.csv', '../Caballos/ID-Carreras\\1_16-10-2011.csv', '../Caballos/ID-Carreras\\1_16-10-2016.csv', '../Caballos/ID-Carreras\\1_16-10-2020.csv', '../Caballos/ID-Carreras\\1_16-7-2020.csv', '../Caballos/ID-Carreras\\1_17-01-2016.csv', '../Caballos/ID-Carreras\\1_17-03-2013.csv', '../Caballos/ID-Carreras\\1_17-04-2011.csv', '../Caballos/ID-Carreras\\1_17-04-2016.csv', '../Caballos/ID-Carreras\\1_17-06-2012.csv', '../Caballos/ID-Carreras\\1_17-06-2020.csv', '../Caballos/ID-Carreras\\1_17-07-2014.csv', '../Caballos/ID-Carreras\\1_17-08-2012.csv', '../Caballos/ID-Carreras\\1_17-09-2017.csv', '../Caballos/ID-Carreras\\1_17-09-2020.csv', '../Caballos/ID-Carreras\\1_17-11-2013.csv', '../Caballos/ID-Carreras\\1_18-03-2018.csv', '../Caballos/ID-Carreras\\1_18-05-2012.csv', '../Caballos/ID-Carreras\\1_18-08-2013.csv', '../Caballos/ID-Carreras\\1_18-09-2011.csv', '../Caballos/ID-Carreras\\1_18-09-2016.csv', '../Caballos/ID-Carreras\\1_18-10-2015.csv', '../Caballos/ID-Carreras\\1_18-12-2011.csv', '../Caballos/ID-Carreras\\1_18-12-2016.csv', '../Caballos/ID-Carreras\\1_19-01-2014.csv', '../Caballos/ID-Carreras\\1_19-01-2020.csv', '../Caballos/ID-Carreras\\1_19-02-2012.csv', '../Caballos/ID-Carreras\\1_19-02-2017.csv', '../Caballos/ID-Carreras\\1_19-03-2017.csv', '../Caballos/ID-Carreras\\1_19-05-2016.csv', '../Caballos/ID-Carreras\\1_19-06-2011.csv', '../Caballos/ID-Carreras\\1_19-07-2012.csv', '../Caballos/ID-Carreras\\1_19-08-2012.csv', '../Caballos/ID-Carreras\\1_19-10-2014.csv', '../Caballos/ID-Carreras\\1_2-06-2017.csv', '../Caballos/ID-Carreras\\1_2-10-2016.csv', '../Caballos/ID-Carreras\\1_20-01-2013.csv', '../Caballos/ID-Carreras\\1_20-05-2012.csv', '../Caballos/ID-Carreras\\1_20-06-2018.csv', '../Caballos/ID-Carreras\\1_20-07-2017.csv', '../Caballos/ID-Carreras\\1_20-09-2018.csv', '../Caballos/ID-Carreras\\1_20-10-2013.csv', '../Caballos/ID-Carreras\\1_20-11-2011.csv', '../Caballos/ID-Carreras\\1_20-11-2016.csv', '../Caballos/ID-Carreras\\1_21-05-2017.csv', '../Caballos/ID-Carreras\\1_21-07-2011.csv', '../Caballos/ID-Carreras\\1_21-07-2012.csv', '../Caballos/ID-Carreras\\1_21-07-2013.csv', '../Caballos/ID-Carreras\\1_21-07-2014.csv', '../Caballos/ID-Carreras\\1_21-07-2016.csv', '../Caballos/ID-Carreras\\1_21-08-2011.csv', '../Caballos/ID-Carreras\\1_21-08-2014.csv', '../Caballos/ID-Carreras\\1_21-08-2016.csv', '../Caballos/ID-Carreras\\1_21-10-2012.csv', '../Caballos/ID-Carreras\\1_22-01-2012.csv', '../Caballos/ID-Carreras\\1_22-04-2011.csv', '../Caballos/ID-Carreras\\1_22-04-2012.csv', '../Caballos/ID-Carreras\\1_22-08-2013.csv', '../Caballos/ID-Carreras\\1_22-09-2013.csv', '../Caballos/ID-Carreras\\1_22-10-2015.csv', '../Caballos/ID-Carreras\\1_22-11-2015.csv', '../Caballos/ID-Carreras\\1_22-12-2013.csv', '../Caballos/ID-Carreras\\1_23-02-2014.csv', '../Caballos/ID-Carreras\\1_23-03-2014.csv', '../Caballos/ID-Carreras\\1_23-04-2017.csv', '../Caballos/ID-Carreras\\1_23-05-2021.csv', '../Caballos/ID-Carreras\\1_23-07-2011.csv', '../Caballos/ID-Carreras\\1_23-08-2012.csv', '../Caballos/ID-Carreras\\1_23-09-2012.csv', '../Caballos/ID-Carreras\\1_23-10-2011.csv', '../Caballos/ID-Carreras\\1_23-10-2016.csv', '../Caballos/ID-Carreras\\1_23-10-2020.csv', '../Caballos/ID-Carreras\\1_23-11-2014.csv', '../Caballos/ID-Carreras\\1_24-01-2016.csv', '../Caballos/ID-Carreras\\1_24-04-2016.csv', '../Caballos/ID-Carreras\\1_24-05-2018.csv', '../Caballos/ID-Carreras\\1_24-06-2012.csv', '../Caballos/ID-Carreras\\1_24-07-2014.csv', '../Caballos/ID-Carreras\\1_24-09-2017.csv', '../Caballos/ID-Carreras\\1_24-11-2013.csv', '../Caballos/ID-Carreras\\1_24-11-2016.csv', '../Caballos/ID-Carreras\\1_24-12-2011.csv', '../Caballos/ID-Carreras\\1_25-04-2021.csv', '../Caballos/ID-Carreras\\1_25-05-2014.csv', '../Caballos/ID-Carreras\\1_25-05-2017.csv', '../Caballos/ID-Carreras\\1_25-07-2013.csv', '../Caballos/ID-Carreras\\1_25-09-2011.csv', '../Caballos/ID-Carreras\\1_25-09-2016.csv', '../Caballos/ID-Carreras\\1_25-10-2015.csv', '../Caballos/ID-Carreras\\1_26-01-2014.csv', '../Caballos/ID-Carreras\\1_26-02-2012.csv', '../Caballos/ID-Carreras\\1_26-02-2017.csv', '../Caballos/ID-Carreras\\1_26-03-2021.csv', '../Caballos/ID-Carreras\\1_26-04-2018.csv', '../Caballos/ID-Carreras\\1_26-06-2011.csv', '../Caballos/ID-Carreras\\1_26-07-2012.csv', '../Caballos/ID-Carreras\\1_26-08-2011.csv', '../Caballos/ID-Carreras\\1_26-08-2018.csv', '../Caballos/ID-Carreras\\1_26-09-2014.csv', '../Caballos/ID-Carreras\\1_26-10-2014.csv', '../Caballos/ID-Carreras\\1_26-11-2015.csv', '../Caballos/ID-Carreras\\1_27-01-2013.csv', '../Caballos/ID-Carreras\\1_27-05-2012.csv', '../Caballos/ID-Carreras\\1_27-08-2012.csv', '../Caballos/ID-Carreras\\1_27-09-2015.csv', '../Caballos/ID-Carreras\\1_27-11-2016.csv', '../Caballos/ID-Carreras\\1_27-11-2020.csv', '../Caballos/ID-Carreras\\1_28-02-2016.csv', '../Caballos/ID-Carreras\\1_28-03-2021.csv', '../Caballos/ID-Carreras\\1_28-06-2012.csv', '../Caballos/ID-Carreras\\1_28-06-2013.csv', '../Caballos/ID-Carreras\\1_28-07-2012.csv', '../Caballos/ID-Carreras\\1_28-08-2011.csv', '../Caballos/ID-Carreras\\1_28-10-2012.csv', '../Caballos/ID-Carreras\\1_28-5-2017.csv', '../Caballos/ID-Carreras\\1_29-01-2017.csv', '../Caballos/ID-Carreras\\1_29-04-2011.csv', '../Caballos/ID-Carreras\\1_29-04-2012.csv', '../Caballos/ID-Carreras\\1_29-05-2016.csv', '../Caballos/ID-Carreras\\1_29-07-2011.csv', '../Caballos/ID-Carreras\\1_29-07-2018.csv', '../Caballos/ID-Carreras\\1_29-08-2013.csv', '../Caballos/ID-Carreras\\1_29-08-2016.csv', '../Caballos/ID-Carreras\\1_29-09-2013.csv', '../Caballos/ID-Carreras\\1_29-11-2015.csv', '../Caballos/ID-Carreras\\1_29-12-2013.csv', '../Caballos/ID-Carreras\\1_3-06-2016.csv', '../Caballos/ID-Carreras\\1_3-09-2016.csv', '../Caballos/ID-Carreras\\1_3-12-2017.csv', '../Caballos/ID-Carreras\\1_30-03-2014.csv', '../Caballos/ID-Carreras\\1_30-05-2014.csv', '../Caballos/ID-Carreras\\1_30-05-2021.csv', '../Caballos/ID-Carreras\\1_30-06-2011.csv', '../Caballos/ID-Carreras\\1_30-06-2012.csv', '../Caballos/ID-Carreras\\1_30-08-2012.csv', '../Caballos/ID-Carreras\\1_30-09-2012.csv', '../Caballos/ID-Carreras\\1_30-09-2018.csv', '../Caballos/ID-Carreras\\1_30-10-2011.csv', '../Caballos/ID-Carreras\\1_30-10-2016.csv', '../Caballos/ID-Carreras\\1_30-11-2014.csv', '../Caballos/ID-Carreras\\1_30-12-2012.csv', '../Caballos/ID-Carreras\\1_30-12-2020.csv', '../Caballos/ID-Carreras\\1_31-01-2021.csv', '../Caballos/ID-Carreras\\1_31-03-2019.csv', '../Caballos/ID-Carreras\\1_31-07-2011.csv', '../Caballos/ID-Carreras\\1_31-08-2015.csv', '../Caballos/ID-Carreras\\1_31-12-2011.csv', '../Caballos/ID-Carreras\\1_4-05-2017.csv', '../Caballos/ID-Carreras\\1_4-07-2019.csv', '../Caballos/ID-Carreras\\1_4-11-2018.csv', '../Caballos/ID-Carreras\\1_5-02-2012.csv', '../Caballos/ID-Carreras\\1_5-02-2017.csv', '../Caballos/ID-Carreras\\1_5-06-2016.csv', '../Caballos/ID-Carreras\\1_7-07-2012.csv', '../Caballos/ID-Carreras\\1_7-07-2014.csv', '../Caballos/ID-Carreras\\1_7-07-2016.csv', '../Caballos/ID-Carreras\\1_7-09-2014.csv', '../Caballos/ID-Carreras\\1_8-03-2020.csv', '../Caballos/ID-Carreras\\1_9-04-2017.csv', '../Caballos/ID-Carreras\\1_9-06-2019.csv', '../Caballos/ID-Carreras\\1_9-10-2016.csv', '../Caballos/ID-Carreras\\2-05-01-2014.csv', '../Caballos/ID-Carreras\\2_01-01-2017.csv', '../Caballos/ID-Carreras\\2_01-06-2014.csv', '../Caballos/ID-Carreras\\2_01-07-2021.csv', '../Caballos/ID-Carreras\\2_01-08-2013.csv', '../Caballos/ID-Carreras\\2_01-11-2015.csv', '../Caballos/ID-Carreras\\2_01-12-2013.csv', '../Caballos/ID-Carreras\\2_02-07-2011.csv', '../Caballos/ID-Carreras\\2_02-10-2011.csv', '../Caballos/ID-Carreras\\2_02-11-2014.csv', '../Caballos/ID-Carreras\\2_02-12-2012.csv', '../Caballos/ID-Carreras\\2_03-04-2016.csv', '../Caballos/ID-Carreras\\2_03-06-2012.csv', '../Caballos/ID-Carreras\\2_03-07-2016.csv', '../Caballos/ID-Carreras\\2_03-07-2020.csv', '../Caballos/ID-Carreras\\2_03-08-2012.csv', '../Caballos/ID-Carreras\\2_03-10-2014.csv', '../Caballos/ID-Carreras\\2_04-05-2012.csv', '../Caballos/ID-Carreras\\2_04-05-2014.csv', '../Caballos/ID-Carreras\\2_04-08-2016.csv', '../Caballos/ID-Carreras\\2_04-09-2011.csv', '../Caballos/ID-Carreras\\2_04-10-2015.csv', '../Caballos/ID-Carreras\\2_04-12-2011.csv', '../Caballos/ID-Carreras\\2_05-01-2014.csv', '../Caballos/ID-Carreras\\2_05-03-2017.csv', '../Caballos/ID-Carreras\\2_05-05-2016.csv', '../Caballos/ID-Carreras\\2_05-06-2021.csv', '../Caballos/ID-Carreras\\2_05-07-2012.csv', '../Caballos/ID-Carreras\\2_05-07-2020.csv', '../Caballos/ID-Carreras\\2_05-08-2011.csv', '../Caballos/ID-Carreras\\2_05-09-2013.csv', '../Caballos/ID-Carreras\\2_05-11-2015.csv', '../Caballos/ID-Carreras\\2_06-03-2016.csv', '../Caballos/ID-Carreras\\2_06-04-2014.csv', '../Caballos/ID-Carreras\\2_06-05-2011.csv', '../Caballos/ID-Carreras\\2_06-08-12.csv', '../Caballos/ID-Carreras\\2_06-10-2013.csv', '../Caballos/ID-Carreras\\2_06-12-2015.csv', '../Caballos/ID-Carreras\\2_07-06-2020.csv', '../Caballos/ID-Carreras\\2_07-07-2011.csv', '../Caballos/ID-Carreras\\2_07-08-2011.csv', '../Caballos/ID-Carreras\\2_07-08-2014.csv', '../Caballos/ID-Carreras\\2_08-01-2012.csv', '../Caballos/ID-Carreras\\2_08-05-2016.csv', '../Caballos/ID-Carreras\\2_08-06-2014.csv', '../Caballos/ID-Carreras\\2_09-03-2014.csv', '../Caballos/ID-Carreras\\2_09-07-2011.csv', '../Caballos/ID-Carreras\\2_09-10-2011.csv', '../Caballos/ID-Carreras\\2_09-11-2017.csv', '../Caballos/ID-Carreras\\2_1-04-2018.csv', '../Caballos/ID-Carreras\\2_1-08-2016.csv', '../Caballos/ID-Carreras\\2_1-08-2019.csv', '../Caballos/ID-Carreras\\2_1-09-2013.csv', '../Caballos/ID-Carreras\\2_1-09-2014.csv', '../Caballos/ID-Carreras\\2_10-01-2016.csv', '../Caballos/ID-Carreras\\2_10-04-2016.csv', '../Caballos/ID-Carreras\\2_10-06-2012.csv', '../Caballos/ID-Carreras\\2_10-08-2012.csv', '../Caballos/ID-Carreras\\2_10-08-2014.csv', '../Caballos/ID-Carreras\\2_10-09-2016.csv', '../Caballos/ID-Carreras\\2_10-11-2013.csv', '../Caballos/ID-Carreras\\2_11-03-2012.csv', '../Caballos/ID-Carreras\\2_11-04-2021.csv', '../Caballos/ID-Carreras\\2_11-05-2012.csv', '../Caballos/ID-Carreras\\2_11-07-2013.csv', '../Caballos/ID-Carreras\\2_11-07-2016.csv', '../Caballos/ID-Carreras\\2_11-08-2016.csv', '../Caballos/ID-Carreras\\2_11-09-2011.csv', '../Caballos/ID-Carreras\\2_12-01-2014.csv', '../Caballos/ID-Carreras\\2_12-02-2012.csv', '../Caballos/ID-Carreras\\2_12-05-2019.csv', '../Caballos/ID-Carreras\\2_12-06-2011.csv', '../Caballos/ID-Carreras\\2_12-07-2020.csv', '../Caballos/ID-Carreras\\2_12-08-2011.csv', '../Caballos/ID-Carreras\\2_12-08-2012.csv', '../Caballos/ID-Carreras\\2_12-08-2018.csv', '../Caballos/ID-Carreras\\2_13-01-2013.csv', '../Caballos/ID-Carreras\\2_13-03-2016.csv', '../Caballos/ID-Carreras\\2_13-04-2014.csv', '../Caballos/ID-Carreras\\2_13-05-2012.csv', '../Caballos/ID-Carreras\\2_13-07-2014.csv', '../Caballos/ID-Carreras\\2_13-09-2013.csv', '../Caballos/ID-Carreras\\2_13-09-2020.csv', '../Caballos/ID-Carreras\\2_13-11-2011.csv', '../Caballos/ID-Carreras\\2_13-11-2020.csv', '../Caballos/ID-Carreras\\2_14-02-2016.csv', '../Caballos/ID-Carreras\\2_14-05-2017.csv', '../Caballos/ID-Carreras\\2_14-06-2012.csv', '../Caballos/ID-Carreras\\2_14-06-2020.csv', '../Caballos/ID-Carreras\\2_14-07-2011.csv', '../Caballos/ID-Carreras\\2_14-07-2012.csv', '../Caballos/ID-Carreras\\2_14-07-2016.csv', '../Caballos/ID-Carreras\\2_14-10-2012.csv', '../Caballos/ID-Carreras\\2_14-2-2021.csv', '../Caballos/ID-Carreras\\2_15-01-2012.csv', '../Caballos/ID-Carreras\\2_15-04-2011.csv', '../Caballos/ID-Carreras\\2_15-04-2012.csv', '../Caballos/ID-Carreras\\2_15-06-2019.csv', '../Caballos/ID-Carreras\\2_15-08-2011.csv', '../Caballos/ID-Carreras\\2_15-08-2012.csv', '../Caballos/ID-Carreras\\2_15-08-2015.csv', '../Caballos/ID-Carreras\\2_15-08-2016.csv', '../Caballos/ID-Carreras\\2_15-11-2015.csv', '../Caballos/ID-Carreras\\2_15-12-2013.csv', '../Caballos/ID-Carreras\\2_16-02-2014.csv', '../Caballos/ID-Carreras\\2_16-03-2014.csv', '../Caballos/ID-Carreras\\2_16-04-2017.csv', '../Caballos/ID-Carreras\\2_16-05-2021.csv', '../Caballos/ID-Carreras\\2_16-06-2021.csv', '../Caballos/ID-Carreras\\2_16-07-2011.csv', '../Caballos/ID-Carreras\\2_16-07-2017.csv', '../Caballos/ID-Carreras\\2_16-09-2012.csv', '../Caballos/ID-Carreras\\2_16-10-2011.csv', '../Caballos/ID-Carreras\\2_16-10-2016.csv', '../Caballos/ID-Carreras\\2_16-10-2020.csv', '../Caballos/ID-Carreras\\2_16-7-2020.csv', '../Caballos/ID-Carreras\\2_17-01-2016.csv', '../Caballos/ID-Carreras\\2_17-03-2013.csv', '../Caballos/ID-Carreras\\2_17-04-2011.csv', '../Caballos/ID-Carreras\\2_17-04-2016.csv', '../Caballos/ID-Carreras\\2_17-06-2012.csv', '../Caballos/ID-Carreras\\2_17-06-2020.csv', '../Caballos/ID-Carreras\\2_17-07-2014.csv', '../Caballos/ID-Carreras\\2_17-08-2012.csv', '../Caballos/ID-Carreras\\2_17-09-2017.csv', '../Caballos/ID-Carreras\\2_17-09-2020.csv', '../Caballos/ID-Carreras\\2_17-11-2013.csv', '../Caballos/ID-Carreras\\2_18-03-2018.csv', '../Caballos/ID-Carreras\\2_18-05-2012.csv', '../Caballos/ID-Carreras\\2_18-08-2013.csv', '../Caballos/ID-Carreras\\2_18-09-2011.csv', '../Caballos/ID-Carreras\\2_18-09-2016.csv', '../Caballos/ID-Carreras\\2_18-10-2015.csv', '../Caballos/ID-Carreras\\2_18-12-2011.csv', '../Caballos/ID-Carreras\\2_18-12-2016.csv', '../Caballos/ID-Carreras\\2_19-01-2014.csv', '../Caballos/ID-Carreras\\2_19-01-2020.csv', '../Caballos/ID-Carreras\\2_19-02-2012.csv', '../Caballos/ID-Carreras\\2_19-02-2017.csv', '../Caballos/ID-Carreras\\2_19-03-2017.csv', '../Caballos/ID-Carreras\\2_19-05-2016.csv', '../Caballos/ID-Carreras\\2_19-06-2011.csv', '../Caballos/ID-Carreras\\2_19-07-2012.csv', '../Caballos/ID-Carreras\\2_19-08-2012.csv', '../Caballos/ID-Carreras\\2_19-10-2014.csv', '../Caballos/ID-Carreras\\2_2-06-2017.csv', '../Caballos/ID-Carreras\\2_2-10-2016.csv', '../Caballos/ID-Carreras\\2_20-01-2013.csv', '../Caballos/ID-Carreras\\2_20-05-2012.csv', '../Caballos/ID-Carreras\\2_20-06-2018.csv', '../Caballos/ID-Carreras\\2_20-07-2017.csv', '../Caballos/ID-Carreras\\2_20-09-2018.csv', '../Caballos/ID-Carreras\\2_20-10-2013.csv', '../Caballos/ID-Carreras\\2_20-11-2011.csv', '../Caballos/ID-Carreras\\2_20-11-2016.csv', '../Caballos/ID-Carreras\\2_21-05-2017.csv', '../Caballos/ID-Carreras\\2_21-07-2011.csv', '../Caballos/ID-Carreras\\2_21-07-2012.csv', '../Caballos/ID-Carreras\\2_21-07-2013.csv', '../Caballos/ID-Carreras\\2_21-07-2014.csv', '../Caballos/ID-Carreras\\2_21-07-2016.csv', '../Caballos/ID-Carreras\\2_21-08-2011.csv', '../Caballos/ID-Carreras\\2_21-08-2014.csv', '../Caballos/ID-Carreras\\2_21-08-2016.csv', '../Caballos/ID-Carreras\\2_21-10-2012.csv', '../Caballos/ID-Carreras\\2_22-01-2012.csv', '../Caballos/ID-Carreras\\2_22-04-2011.csv', '../Caballos/ID-Carreras\\2_22-04-2012.csv', '../Caballos/ID-Carreras\\2_22-08-2013.csv', '../Caballos/ID-Carreras\\2_22-09-2013.csv', '../Caballos/ID-Carreras\\2_22-10-2015.csv', '../Caballos/ID-Carreras\\2_22-11-2015.csv', '../Caballos/ID-Carreras\\2_22-12-2013.csv', '../Caballos/ID-Carreras\\2_23-02-2014.csv', '../Caballos/I

In [3]:
# UNIR TODAS LAS CARRERAS

# creamos un primer dataframe y lo eliminamos del conjunto
filename = archivos_csv[0]
archivos_csv.remove(filename)
df = pd.read_csv(filename, delimiter=',',encoding="utf-8",header=0)

# Escribimos un loop que ir a travs de cada uno de los nombres de archivo a travs de globbing y el resultado final ser el dataframe final

for filename in archivos_csv:
    data = pd.read_csv(filename, delimiter=',',encoding="utf-8",header=0)
    df = df.append(data)


#Para chequear que todo est bien, mostramos la lista por consola
#df

In [4]:
'''
SEPARAR LOS DATOS POR CARRERAS
#Agrupar los datos
x_head = ['ID','CABALLO','POSICION','EDAD','KG','JINETE','CUADRA','PREPARADOR','CAJN','HIPODROMO','DISTANCIA','PISTA']


for filename in archivos_csv:
    data = pd.read_csv(filename, delimiter=';',encoding="utf-8",header=None)
    
    data.columns = x_head
    
    grouped = data.groupby(x_head[0])
    
    for value, group in grouped:
        filename= str(value)+'.csv'
        try: 
            f = open(filename,'w')
            group.to_csv(filename, header=x_head,index=False)
            print(filename)
        except UnicodeEncodeError:
            print('Error de codificacion')
'''

'\nSEPARAR LOS DATOS POR CARRERAS\n#Agrupar los datos\nx_head = [\'ID\',\'CABALLO\',\'POSICION\',\'EDAD\',\'KG\',\'JINETE\',\'CUADRA\',\'PREPARADOR\',\'CAJN\',\'HIPODROMO\',\'DISTANCIA\',\'PISTA\']\n\n\nfor filename in archivos_csv:\n    data = pd.read_csv(filename, delimiter=\';\',encoding="utf-8",header=None)\n    \n    data.columns = x_head\n    \n    grouped = data.groupby(x_head[0])\n    \n    for value, group in grouped:\n        filename= str(value)+\'.csv\'\n        try: \n            f = open(filename,\'w\')\n            group.to_csv(filename, header=x_head,index=False)\n            print(filename)\n        except UnicodeEncodeError:\n            print(\'Error de codificacion\')\n'

In [5]:
#Vamos a comprobar que tipo de datos tiene cada columna
df.dtypes

ID             object
CABALLO        object
POSICION       object
EDAD           object
KG             object
JINETE         object
CUADRA         object
PREPARADOR     object
CAJN         float64
HIPODROMO      object
DISTANCIA       int64
PISTA          object
dtype: object

In [6]:
df['ID'].value_counts()

3_04-12-2011    20
3_17-09-2017    20
2_30-09-2012    20
3_30-09-2012    20
3_17-11-2013    20
                ..
3_26-09-2014     4
2_25-05-2014     4
5_27-08-2012     4
1_3-12-2017      4
5_17-06-2020     4
Name: ID, Length: 1399, dtype: int64

In [7]:
#Comprobamos que los datos de las columnas estan correctas
df['EDAD'].value_counts().head(50)

#Podemos observar que hay datos de KG en EDAD y que hay diferentes formatos para definir un numero

3 aos     2051
4 aos     1324
3          1249
4          1229
5           861
3aos      834
5 aos      718
2 aos      692
6           547
4aos      478
6 aos      433
2           381
5aos      276
7           275
2aos      205
7 aos      197
8           184
6aos      156
8 aos       89
7aos       71
9            64
2 aos      55
3 aos      52
8aos       47
57           47
58           47
56           47
59           46
10           44
62           38
57           37
4 aos      37
60           36
55           33
54           33
9 aos       32
61           31
56           24
58           21
9aos       20
57,5         20
5 aos      18
55,5         18
59           17
11           17
10aos      15
54,5         14
53           12
59,5         12
55           11
Name: EDAD, dtype: int64

In [8]:
#Ponemos en un solo formato
df = df.replace({"2 aos": 2,"3 aos":3,"4 aos": 4,"5 aos": 5,"6 aos": 6,"7 aos": 7,"8 aos": 8,"9 aos": 9,
                 "10 aos": 10,"11 aos": 11,"12 aos": 12,"2aos": 2,"3aos": 3,"4aos": 4, "5aos": 5, "6aos": 6,
                 "7aos": 7,"8aos": 8,"9aos": 9,"10aos": 10,"11aos": 11,"12aos": 12,"2 aos": 2,"3 aos": 3,
                 "4 aos": 4,"5 aos": 5,"6 aos": 6,"7 aos": 7,"8 aos": 8,"2:00 AM": 2,"3:00 AM": 3,"4:00 AM": 4,
                 "5:00 AM": 5,"6:00 AM": 6,"7:00 AM": 7,"8:00 AM": 8})

#Mostramos
df['EDAD'].value_counts().head(50)

3       4191
4       3078
5       1878
2       1340
6       1152
7        549
8        326
9        116
10        65
58        47
56        47
57        47
59        46
62        38
57        37
60        36
54        33
55        33
61        31
56        24
11        24
58        21
57,5      20
55,5      18
59        17
54,5      14
53        12
59,5      12
55        11
52        10
60        10
50        10
56,5       9
12         8
63         8
58,5       7
51         6
65         6
61         6
53,5       5
62         5
64,5       3
64         3
62,5       3
60,5       3
61,5       2
66         2
54         2
52,5       2
50         1
Name: EDAD, dtype: int64

In [9]:
#Hacemos exactamente lo mismo con todas las columnas y modificamos valores si es preciso
df['POSICION'].value_counts().head(50)

1.0       1399
2.0       1395
3.0       1395
4.0       1392
5.0       1354
6.0       1242
7.0       1118
8.0        930
9.0        754
99.0       674
10.0       593
11.0       452
12.0       289
13.0       128
14.0        87
15.0        54
16.0        33
17.0        23
18.0        12
19.0         7
20.0         3
33.0         2
6            2
2            2
7            2
8            2
4            2
3            2
1            1
10           1
01-ene       1
0            1
9            1
11           1
99           1
05-ene       1
5            1
Name: POSICION, dtype: int64

In [10]:
df.POSICION = df.POSICION.replace({1:1.0,2:2.0,3:3.0,4:4.0,5:5.0,
                                   33.0:3,"05-ene": 5,"01-ene": 1, "0.1": 1})
#df.loc[df['POSICION'] == 1, 'POSICION'] = 1

df['POSICION'].value_counts().head(50)

1.0     1400
3.0     1397
2.0     1395
4.0     1392
5.0     1355
6.0     1242
7.0     1118
8.0      930
9.0      754
99.0     674
10.0     593
11.0     452
12.0     289
13.0     128
14.0      87
15.0      54
16.0      33
17.0      23
18.0      12
19.0       7
20.0       3
2          2
7          2
8          2
6          2
4          2
3          2
1          1
10         1
0          1
9          1
11         1
99         1
5          1
Name: POSICION, dtype: int64

In [11]:
#Algunos datos en vez de espacios tienen un caracter raro, vamos a poner el espacio en su lugar
df.replace('',' ', regex=True, inplace=True)

In [12]:
#Mostrar las filas en las que no tenemos informacion de los caballos
df.loc[df['POSICION']==0.0]

,ID,CABALLO,POSICION,EDAD,KG,JINETE,CUADRA,PREPARADOR,CAJN,HIPODROMO,DISTANCIA,PISTA
0,5_23-04-2017,AJMANY (IRE),0,7,58,B.FAYOS,CHEIK ABDULLAH BIN KHALIFA AL THANI,Y.DUREPAIRE,8.0,Hipdromo de La Zarzuela,2000,HIERBA

In [13]:
#Una vez comprobadas las posiciones las insertamos en su lugar correspondiente
df.loc[df['POSICION']==0.0, 'POSICION'] = 99.0
df['POSICION'].value_counts().head(50)

1.0     1400
3.0     1397
2.0     1395
4.0     1392
5.0     1355
6.0     1242
7.0     1118
8.0      930
9.0      754
99.0     675
10.0     593
11.0     452
12.0     289
13.0     128
14.0      87
15.0      54
16.0      33
17.0      23
18.0      12
19.0       7
20.0       3
2          2
7          2
8          2
3          2
4          2
6          2
99         1
11         1
9          1
1          1
10         1
5          1
Name: POSICION, dtype: int64

In [14]:
df['KG'].value_counts().head(50)

57      1007
56       852
57       799
58       624
56       599
54,5     568
55,5     559
62       496
59       452
56,5     410
58,5     397
60       387
58       371
55       358
61       342
57,5     310
59       304
55       277
62       272
60       270
59,5     256
60,5     238
61       237
53,5     231
54       230
3        216
61,5     202
54       188
4        173
53       127
51       124
53       112
5        110
52,5     109
50       103
52        91
63        76
51        74
2         72
52        71
62,5      71
64        67
65        61
50        55
63,5      53
6         47
51,5      38
63        33
64,5      30
66        25
Name: KG, dtype: int64

In [15]:
#Los datos que hemos recogidos tienen una ',' como indicador de decimal y necesitamos un '.' para convertirlos a float
df.replace(',','.', regex=True, inplace=True)

#Convertimos los datos en el tipo que necesitamos
df['EDAD']=pd.to_numeric(df['EDAD'])
df['KG']=pd.to_numeric(df['KG'])
df['POSICION']=pd.to_numeric(df['POSICION'])

#Mostramos que esten correctos
df.dtypes

ID             object
CABALLO        object
POSICION      float64
EDAD          float64
KG            float64
JINETE         object
CUADRA         object
PREPARADOR     object
CAJN         float64
HIPODROMO      object
DISTANCIA       int64
PISTA          object
dtype: object

In [16]:
#Algunos datos de EDAD y KG estan intercambiados por lo que vamos a colocarlos adecuadamente
#Guardamos los datos que no estan bien en aux
auxEdad = df.loc[df['EDAD']>=20]
auxEdad = auxEdad['EDAD']

auxKG = df.loc[df['KG']<=20]
auxKG = auxKG['KG']

#Introducimos los datos en las columnas correspondientes
df.loc[df.EDAD >= 20, ['EDAD']] = auxKG
df.loc[df.KG <= 20, ['KG']] = auxEdad

In [17]:
#Comprobamos que se hayan ordenado correctamente
df['EDAD'].value_counts().head(50)

3.0     4407
4.0     3251
5.0     1988
2.0     1412
6.0     1199
7.0      571
8.0      333
9.0      120
10.0      65
11.0      24
12.0       8
14.0       1
Name: EDAD, dtype: int64

In [18]:
df['KG'].value_counts().head(50)

57.0    1890
56.0    1522
58.0    1063
59.0     819
62.0     811
60.0     703
55.0     679
61.0     616
54.5     582
55.5     577
54.0     453
56.5     419
58.5     404
57.5     330
59.5     268
53.0     251
60.5     241
53.5     236
61.5     204
51.0     204
52.0     173
50.0     169
63.0     118
52.5     111
64.0      90
65.0      77
62.5      74
63.5      53
51.5      38
66.0      36
64.5      33
67.0      30
65.5      26
68.0      19
66.5      18
50.5      13
69.0       7
67.5       7
70.0       6
68.5       2
71.0       2
74.0       2
71.5       1
72.5       1
69.5       1
72.0       1
Name: KG, dtype: int64

In [19]:
df['CAJN'].value_counts().head(50)

2.0     1399
1.0     1399
4.0     1399
3.0     1398
5.0     1385
6.0     1293
7.0     1162
8.0      999
9.0      833
10.0     688
11.0     532
12.0     421
13.0     158
14.0     114
15.0      77
16.0      46
17.0      34
18.0      22
19.0      14
20.0       6
Name: CAJN, dtype: int64

In [20]:
#Vamos a poner el hipodromo en mayusculas para que no haya problema entra mayusculas y minusculas
df['HIPODROMO'] = df['HIPODROMO'].str.upper()

In [21]:
pd.value_counts(df['HIPODROMO'])

HIPDROMO LA ZARZUELA                                            4203
HIPDROMO DE LA ZARZUELA                                         2946
GRAN HIPDROMO DE ANDALUCA JAVIER PIAR HAFNER                  1499
HIPODROMO DE SAN SEBASTIAN                                       1435
HIPDROMO DE SAN SEBASTIN                                        745
HIPDROMO COSTA DEL SOL.                                          603
GRAN HIPDROMO DE ANDALUCA                                       314
HIPODROMO LA ZARZUELA                                             299
GRAN HIPDROMO DE ANDALUCIA                                       233
GRAN HIPDROMO DE ANDALUCA JAVIER PIAR HAFNER-PARTICIPANTES     193
HIPDROMO LA ZARZUELA                                            178
HIPDROMO COSTA DE SOL                                            120
 HIPDROMO DE LA ZARZUELA                                          96
HIPDROMO DE LA ZARZUELA                                           57
GRAN HIPODROMO DE ANDALUCIA                                        55
HIPDROMO COSTA DEL SOL.                                          52
HIPDROMO LA ZARZUELA                                              51
GRAN HIPDROMO DE ANDALUCIA JAVIER PIAR HAFNER                    46
HIPDROMO DE SAN SEBASTIAN                                         46
HIPODROMO COSTA DEL SOL                                            45
HIPDROMO DE PINEDA                                                41
HIPDROMO DE ANDALUCA                                             40
HIPDROMO COSTA DEL SOL                                            37
 GRAN HIPDROMO DE ANDALUCA                                       22
 HIPDROMO DE SAN SEBASTIN                                        12
HIPDROMO DE LA COSTA DEL SOL                                      12
Name: HIPODROMO, dtype: int64

In [22]:
#VAMOS A PONER EN UN SOLO FORMATO LOS DIFERENTES TIPOS DE HIPODROMO
df['HIPODROMO']=df['HIPODROMO'].replace(['HIPDROMO LA ZARZUELA', 'HIPDROMO DE LA ZARZUELA', 'HIPODROMO LA ZARZUELA', 
                         ' HIPDROMO DE LA ZARZUELA', 'HIPDROMO LA ZARZUELA', ' HIPDROMO DE LA ZARZUELA',
                         'HIPDROMO DE LA ZARZUELA ','HIPDROMO LA ZARZUELA '
                        ], 'HIPODROMO LA ZARZUELA')
df['HIPODROMO']=df['HIPODROMO'].replace(['GRAN HIPDROMO DE ANDALUCA JAVIER PIAR HAFNER',
                                         'GRAN HIPDROMO DE ANDALUCA','GRAN HIPDROMO DE ANDALUCIA',
                                         'GRAN HIPDROMO DE ANDALUCA JAVIER PIAR HAFNER-PARTICIPANTES',
                                         'GRAN HIPDROMO DE ANDALUCA JAVIER PIAR HAFNER-PARTICIPANTES',
                                         'GRAN HIPDROMO DE ANDALUCIA JAVIER PIAR HAFNER',
                                         'HIPDROMO DE ANDALUCA','GRAN HIPODROMO DE ANDALUCIA',
                                         ' GRAN HIPDROMO DE ANDALUCA'
                        ], 'GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER')
df['HIPODROMO']=df['HIPODROMO'].replace(['HIPDROMO DE SAN SEBASTIN','HIPDROMO DE SAN SEBASTIAN',
                                        ' HIPDROMO DE SAN SEBASTIN'
                        ], 'HIPODROMO DE SAN SEBASTIAN')
df['HIPODROMO']=df['HIPODROMO'].replace(['HIPDROMO COSTA DEL SOL.','HIPDROMO COSTA DE SOL',
                                        'HIPDROMO COSTA DEL SOL.','HIPDROMO COSTA DEL SOL','HIPDROMO DE LA COSTA DEL SOL '
                        ], 'HIPODROMO COSTA DEL SOL')
pd.value_counts(df['HIPODROMO'])

HIPODROMO LA ZARZUELA                              7830
GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER    2402
HIPODROMO DE SAN SEBASTIAN                         2238
HIPODROMO COSTA DEL SOL                             869
HIPDROMO DE PINEDA                                  41
Name: HIPODROMO, dtype: int64

In [23]:
df

,ID,CABALLO,POSICION,EDAD,KG,JINETE,CUADRA,PREPARADOR,CAJN,HIPODROMO,DISTANCIA,PISTA
0,1_01-01-2017,SURFINA (GB),1.0,3.0,56.5,R. SOUSA,ATHEIRAM,O. ANAYA,1.0,GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,1300,HIERBA
1,1_01-01-2017,BEAR ESSENTIALS (GB),3.0,3.0,56.0,A. GOMEZ,ROCCO'S,T. MARTINS,4.0,GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,1300,HIERBA
2,1_01-01-2017,ORANGE GIN (IRE),6.0,3.0,56.0,J.E. JARCOVSKY (57),CELSO MENDEZ,M. ALVAREZ,5.0,GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,1300,HIERBA
3,1_01-01-2017,DREAMS O'CONNOR (GB),2.0,3.0,54.5,A. MEZZATESTA,SCUDERIA DREAMS ROAD,M. AUGELLI,2.0,GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,1300,HIERBA
4,1_01-01-2017,ENSUEO,4.0,3.0,54.5,E.J. ARGUINZONES,CIELO DE MADRID,J.A. RODRIGUEZ,3.0,GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,1300,HIERBA
...,...,...,...,...,...,...,...,...,...,...,...,...
7,7_26-10-2014,FIGUEIRAS,3.0,4.0,56.0,J.GELABERT (53),PEREIRA S.A.T.,CALLEJO S.. T,8.0,HIPODROMO LA ZARZUELA,1800,HIERBA
8,7_26-10-2014,SUEVA,2.0,3.0,55.5,J.CROCQUEVIEILLE,TIZIANO,MAROTO. J.L.,10.0,HIPODROMO LA ZARZUELA,1800,HIERBA
9,7_26-10-2014,AHORA NO (GB),4.0,5.0,54.0,V.JANACEK (55),JM,CARRASCO. A.,1.0,HIPODROMO LA ZARZUELA,1800,HIERBA
10,7_26-10-2014,SINNIEVA (FR),6.0,4.0,52.0,M.SECCI (52.5),ZURRAQUIN,HERNANDEZ. M.,4.0,HIPODROMO LA ZARZUELA,1800,HIERBA
11,7_26-10-2014,LICANIA (USA),10.0,7.0,50.0,SRTA GELABERT.L (48),CARLOS ALVES,ALVES.C,11.0,HIPODROMO LA ZARZUELA,1800,HIERBA

In [24]:
#Con XGBoots no podemos tener datos categoricos, por lo que vamos a realizar una codificacion en caliente
df = pd.get_dummies(df,columns=['CABALLO','JINETE','CUADRA','PREPARADOR','HIPODROMO','PISTA'])
df

,ID,POSICION,EDAD,KG,CAJN,DISTANCIA,CABALLO_AARASH,CABALLO_AARHUS,CABALLO_AAWAM DE GRINE (MOR),CABALLO_ABANTOS (IRE),...,PREPARADOR_Y. DUREPAIRE,PREPARADOR_Y.DUREPAIRE,HIPODROMO_GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,HIPODROMO_HIPODROMO COSTA DEL SOL,HIPODROMO_HIPODROMO DE SAN SEBASTIAN,HIPODROMO_HIPODROMO LA ZARZUELA,HIPODROMO_HIPDROMO DE PINEDA,PISTA_ARENA,PISTA_ARENA-FIBRA,PISTA_HIERBA
0,1_01-01-2017,1.0,3.0,56.5,1.0,1300,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,1_01-01-2017,3.0,3.0,56.0,4.0,1300,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,1_01-01-2017,6.0,3.0,56.0,5.0,1300,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,1_01-01-2017,2.0,3.0,54.5,2.0,1300,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,1_01-01-2017,4.0,3.0,54.5,3.0,1300,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,7_26-10-2014,3.0,4.0,56.0,8.0,1800,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8,7_26-10-2014,2.0,3.0,55.5,10.0,1800,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
9,7_26-10-2014,4.0,5.0,54.0,1.0,1800,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
10,7_26-10-2014,6.0,4.0,52.0,4.0,1800,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
11,7_26-10-2014,10.0,7.0,50.0,11.0,1800,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [99]:
#Queremos dividir los datos y que cada id se encuentre completo por lo que utilizamos GroupShuffleSplit

gss = GroupShuffleSplit(train_size=.60, n_splits=1, random_state = 7).split(df, groups=df['ID'])

train_inds, test_inds = next(gss)

train= df.iloc[train_inds]
X_train = train.loc[:, train.columns!='POSICION']
y_train = train['POSICION'].copy()

test= df.iloc[test_inds]

X_test = test.loc[:, train.columns!='POSICION']
y_test = test[['ID','POSICION']].copy()

In [26]:
#Comprobamos que se han dividido correctamente los datos
X_train['ID'].value_counts()
#Como en cada ID como minimo hay cuatro caballos se ha dividido correctamente

3_14-06-2020    20
3_17-11-2013    20
3_30-03-2014    19
3_01-06-2014    19
3_01-12-2013    19
                ..
5_17-06-2020     4
5_24-11-2013     4
3_25-10-2015     4
5_26-03-2021     4
1_12-05-2019     4
Name: ID, Length: 839, dtype: int64

In [27]:
X_test['ID'].value_counts()

3_04-12-2011    20
3_30-09-2012    20
2_30-09-2012    20
3_17-09-2017    20
3_19-10-2014    19
                ..
1_3-09-2016      5
1_04-10-2015     4
5_27-08-2012     4
1_15-11-2015     4
3_26-09-2014     4
Name: ID, Length: 560, dtype: int64

In [28]:
y_train

0    1.0
1    3.0
2    6.0
3    2.0
4    4.0
    ...
3    5.0
4    3.0
5    7.0
6    2.0
7    4.0
Name: POSICION, Length: 7951, dtype: float64

In [102]:
y_test

              ID  POSICION
0   1_01-08-2013       2.0
1   1_01-08-2013       1.0
2   1_01-08-2013       4.0
3   1_01-08-2013       5.0
4   1_01-08-2013      99.0
..           ...       ...
7   7_26-10-2014       3.0
8   7_26-10-2014       2.0
9   7_26-10-2014       4.0
10  7_26-10-2014       6.0
11  7_26-10-2014      10.0

[5429 rows x 2 columns]

In [30]:
#Una vez comprobado que se han dividido correctamente, eliminamos la columna ID
X_train = X_train.drop('ID',axis=1).copy()
X_train

,EDAD,KG,CAJN,DISTANCIA,CABALLO_AARASH,CABALLO_AARHUS,CABALLO_AAWAM DE GRINE (MOR),CABALLO_ABANTOS (IRE),CABALLO_ABDEL (FR),CABALLO_ABDEL(FR),...,PREPARADOR_Y. DUREPAIRE,PREPARADOR_Y.DUREPAIRE,HIPODROMO_GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,HIPODROMO_HIPODROMO COSTA DEL SOL,HIPODROMO_HIPODROMO DE SAN SEBASTIAN,HIPODROMO_HIPODROMO LA ZARZUELA,HIPODROMO_HIPDROMO DE PINEDA,PISTA_ARENA,PISTA_ARENA-FIBRA,PISTA_HIERBA
0,3.0,56.5,1.0,1300,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,3.0,56.0,4.0,1300,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,3.0,56.0,5.0,1300,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,3.0,54.5,2.0,1300,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,3.0,54.5,3.0,1300,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,6.0,58.5,2.0,1600,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,7.0,58.5,7.0,1600,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
5,4.0,57.0,6.0,1600,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
6,4.0,57.0,5.0,1600,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
7,4.0,57.0,3.0,1600,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [31]:
#Vamos a entrenar el modelo

#Para utilizar XGBoostRanker, debemos indicar el grupo al que debe clasificar
groups = train.groupby('ID').size().to_frame('size')['size'].to_numpy()

#Elegimos los hipermarametros del entrenamiento
clf_xgb=xgb.XGBRanker( 
    booster='gbtree',
    objective='rank:ndcg',
    random_state=7, 
    learning_rate=0.05, 
    max_depth=6, 
    n_estimators=100, 
    subsample=0.5 
    )

clf_xgb.fit(X_train, y_train,group =groups)

XGBRanker(base_score=0.5, booster='gbtree', colsample_bylevel=1,
          colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
          importance_type='gain', interaction_constraints='',
          learning_rate=0.05, max_delta_step=0, max_depth=6, min_child_weight=1,
          missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=4,
          num_parallel_tree=1, objective='rank:ndcg', random_state=7,
          reg_alpha=0, reg_lambda=1, scale_pos_weight=None, subsample=0.5,
          tree_method='exact', validate_parameters=1, verbosity=None)

In [33]:
def predict(model, df):
    return model.predict(df.loc[:, ~df.columns.isin(['ID'])])


predictions = (X_test.groupby('ID')
               .apply(lambda x: predict(clf_xgb, x)))

In [34]:
predictions

ID
1_01-08-2013    [0.47735432, 1.0493529, 0.53872967, 0.7735403,...
1_01-11-2015    [0.12595832, -0.11505503, 0.23754826, 0.511376...
1_02-11-2014    [-0.35401514, 0.012470183, -0.110074624, 0.395...
1_02-12-2012    [-0.67891693, -0.09319937, 0.0030314971, -0.21...
1_03-07-2016    [0.5785989, 0.65466076, 0.23445444, 0.5437027,...
                                      ...
5_8-03-2020     [-0.40183955, -0.12037075, -0.3130777, -0.3756...
5_9-04-2017     [0.1764642, -0.10497626, 0.16214013, 0.1698497...
5_9-10-2016     [0.17894088, 0.14177921, 0.15446882, 0.2482155...
6_26-10-2014    [0.012274863, 0.11638886, 0.02943842, 0.087257...
7_26-10-2014    [-0.018594159, -0.17644954, 0.014698514, 0.164...
Length: 560, dtype: object

In [35]:
#La salida de predictions nos indica es que si es un numero alto, este caballo tiene mas posibilidades de ganar sobre el resto
predictions['1_01-08-2013']

array([0.47735432, 1.0493529 , 0.53872967, 0.7735403 , 0.9978258 ,
       0.8636462 , 0.30600488], dtype=float32)

In [36]:
#Comprobamos en el archivo inicial y la prediccion del ganador es correcta
df.loc[df['ID']=='1_01-08-2013']

,ID,POSICION,EDAD,KG,CAJN,DISTANCIA,CABALLO_AARASH,CABALLO_AARHUS,CABALLO_AAWAM DE GRINE (MOR),CABALLO_ABANTOS (IRE),...,PREPARADOR_Y. DUREPAIRE,PREPARADOR_Y.DUREPAIRE,HIPODROMO_GRAN HIPODROMO DE ANDALUCIA JAVIER PIAR HAFNER,HIPODROMO_HIPODROMO COSTA DEL SOL,HIPODROMO_HIPODROMO DE SAN SEBASTIAN,HIPODROMO_HIPODROMO LA ZARZUELA,HIPODROMO_HIPDROMO DE PINEDA,PISTA_ARENA,PISTA_ARENA-FIBRA,PISTA_HIERBA
0,1_01-08-2013,2.0,2.0,56.0,5.0,1200,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,1_01-08-2013,1.0,2.0,56.0,3.0,1200,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,1_01-08-2013,4.0,2.0,54.5,2.0,1200,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,1_01-08-2013,5.0,2.0,54.5,6.0,1200,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,1_01-08-2013,99.0,2.0,54.5,4.0,1200,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,1_01-08-2013,99.0,2.0,54.5,7.0,1200,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6,1_01-08-2013,3.0,2.0,54.5,1.0,1200,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [37]:
type(predictions)

pandas.core.series.Series

In [38]:
predictions.index

Index(['1_01-08-2013', '1_01-11-2015', '1_02-11-2014', '1_02-12-2012',
       '1_03-07-2016', '1_03-07-2020', '1_03-10-2014', '1_04-05-2014',
       '1_04-10-2015', '1_05-03-2017',
       ...
       '5_30-12-2020', '5_31-03-2019', '5_31-08-2015', '5_4-07-2019',
       '5_7-07-2016', '5_8-03-2020', '5_9-04-2017', '5_9-10-2016',
       '6_26-10-2014', '7_26-10-2014'],
      dtype='object', name='ID', length=560)

In [95]:
#Convertimos la serie en un dataframe
data_index = predictions.keys().to_list()
data=[]

for elem in predictions:
    data.append(dict(zip(range(len(elem)),elem)))
    
predictions_df = pd.DataFrame(data, index = data_index)

In [96]:
predictions_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1_01-08-2013,0.477354,1.049353,0.538730,0.773540,0.997826,0.863646,0.306005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_01-11-2015,0.125958,-0.115055,0.237548,0.511377,0.790161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_02-11-2014,-0.354015,0.012470,-0.110075,0.395446,-0.011052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_02-12-2012,-0.678917,-0.093199,0.003031,-0.216507,0.536762,0.009554,0.056959,-0.014981,0.070718,0.125411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_03-07-2016,0.578599,0.654661,0.234454,0.543703,0.132745,0.420282,1.015805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5_8-03-2020,-0.401840,-0.120371,-0.313078,-0.375643,0.071877,0.040823,0.386942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5_9-04-2017,0.176464,-0.104976,0.162140,0.169850,0.202638,0.203231,-0.135244,-0.358974,0.181739,0.152101,0.438759,0.230853,0.279350,0.063676,0.182939,0.186531,0.159655,NaN,NaN,NaN
5_9-10-2016,0.178941,0.141779,0.154469,0.248216,0.058435,0.022161,0.480046,0.467123,0.504747,-0.397250,-0.044061,0.231062,0.433889,0.143860,0.905035,NaN,NaN,NaN,NaN,NaN
6_26-10-2014,0.012275,0.116389,0.029438,0.087257,0.254851,0.821480,0.822292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7_26-10-2014,-0.018594,-0.176450,0.014699,0.164267,0.181719,0.056665,-0.320571,0.556406,0.537942,0.210512,0.862255,1.071830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
#Convertir los datos en la posicion de la prediccion
data_index = predictions.keys().to_list()
data=[]

for elem in data_index:
    data_poss = predictions_df.sort_values(by=elem, axis=1, ascending = False).loc[elem].dropna()
    data_poss_pred = data_poss.keys().to_list()
    data.append(data_poss_pred)
    
predictions_df = pd.DataFrame(data, index = data_index)
predictions_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1_01-08-2013,1,4,5,3,2.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_01-11-2015,4,3,2,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_02-11-2014,3,1,4,2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_02-12-2012,4,9,8,6,5.0,2.0,7.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_03-07-2016,6,1,0,3,5.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5_8-03-2020,6,4,5,1,2.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5_9-04-2017,10,12,11,5,4.0,15.0,14.0,8.0,0.0,3.0,2.0,16.0,9.0,13.0,1.0,6.0,7.0,NaN,NaN,NaN
5_9-10-2016,14,8,6,7,12.0,3.0,11.0,0.0,2.0,13.0,1.0,4.0,5.0,10.0,9.0,NaN,NaN,NaN,NaN,NaN
6_26-10-2014,6,5,4,1,3.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7_26-10-2014,11,10,7,8,9.0,4.0,3.0,5.0,2.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
predictions1= pd.DataFrame(predictions, columns=['poss_pred'])

In [ ]:
type(predictions1)

In [ ]:
predictions1['poss_pred']

In [ ]:
predictions1.columns

In [ ]:
predictions1.dtypes

In [ ]:
predictions1['1']= predictions1['poss_pred'].str.split(',', 1)

In [ ]:
predictions1

In [ ]:
predictions1['ID'], predictions1['poss_pred'] = predictions1.split(' ', 1)

In [ ]:
predictions1 = pd.DataFrame(predictions1.ID.str.split(' ',1).tolist(),
                                   columns = ['ID','POSICION'])

In [ ]:
predictions1['ID']=predictions1['ID'].map(lambda x:x.split(' ')[0])
predictions1

In [ ]:
for i in predictions1.values:
    i_stitched = pd.concat(i, axis=1)

In [ ]:
for i in predictions1.values:
    i.char.split(sep=',')
    print(i)

In [ ]:
for i in predictions1.values:
    for j in i:
        print(j)